<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>电压表(12V)</key>
		<array>
			<string>0</string>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
			<string>7</string>
		</array>
	</dict>
	<dict>
		<key>电压表(24V)</key>
		<array>
			<string>0</string>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
			<string>7</string>
		</array>
	</dict>
	<dict>
		<key>油位表</key>
		<array>
			<string>0</string>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
			<string>7</string>
		</array>
	</dict>
	<dict>
		<key>水位表</key>
		<array>
			<string>0</string>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
			<string>7</string>
		</array>
	</dict>
	<dict>
		<key>水温表(℃)</key>
		<array>
			<string>0</string>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
			<string>7</string>
		</array>
	</dict>
	<dict>
		<key>水温表(°F)</key>
		<array>
			<string>0</string>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
			<string>7</string>
		</array>
	</dict>
	<dict>
		<key>油温表</key>
		<array>
			<string>0</string>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
			<string>7</string>
		</array>
	</dict>
	<dict>
		<key>油压表(5Bar)</key>
		<array>
			<string>0</string>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
			<string>7</string>
		</array>
	</dict>
	<dict>
		<key>油压表(10Bar)</key>
		<array>
			<string>0</string>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
			<string>7</string>
		</array>
	</dict>
	<dict>
		<key>污水表</key>
		<array>
			<string>0</string>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
			<string>7</string>
		</array>
	</dict>
	<dict>
		<key>平衡表</key>
		<array>
			<string>0</string>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
			<string>7</string>
		</array>
	</dict>
</array>
</plist>
